# Preparing Zillow King County Data

In [1]:
import pandas as pd
df = pd.read_csv('../../Data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,106672.0,...,251930.0,255861.0,260506.0,266174.0,272442.0,278528.0,283555.0,286948.0,288863.0,289504.0
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,223357.0,...,439209.0,445272.0,454755.0,466373.0,480063.0,491447.0,498934.0,501198.0,499334.0,499877.0
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,90482.0,...,174265.0,176277.0,178252.0,180407.0,183773.0,187384.0,190834.0,193074.0,194779.0,196166.0
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,187749.0,...,571191.0,569363.0,569160.0,571091.0,572605.0,575407.0,577640.0,579764.0,580707.0,583489.0
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,275753.0,...,744928.0,748113.0,751397.0,757101.0,759701.0,765523.0,770799.0,775959.0,778630.0,781713.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27398,80190,30657,50160,zip,IA,IA,Martensdale,"Des Moines-West Des Moines, IA",Warren County,NaN,...,172619.0,177207.0,180642.0,181673.0,182667.0,183878.0,186505.0,188397.0,189957.0,191806.0
27399,65355,30657,18081,zip,PA,PA,Hellertown,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Bucks County,NaN,...,356372.0,357179.0,359712.0,365315.0,371752.0,375716.0,376034.0,375016.0,373013.0,372448.0
27400,80581,30657,51009,zip,IA,IA,Calumet,NaN,O Brien County,NaN,...,70977.0,71380.0,72304.0,72849.0,73075.0,73280.0,74267.0,75089.0,75446.0,75122.0
27401,82217,30657,55366,zip,MN,MN,NaN,NaN,Sibley County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108060.0,108133.0
27402,65172,30657,17762,zip,PA,PA,Hughesville,"Williamsport, PA",Lycoming County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144739.0

In [3]:
kc = df[ df['CountyName']=='King County']
kc

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
222,99534,222,98052,zip,WA,WA,Redmond,"Seattle-Tacoma-Bellevue, WA",King County,306108.0,...,1267101.0,1299254.0,1327485.0,1367709.0,1412139.0,1439706.0,1440202.0,1426835.0,1414106.0,1409836.0
687,99575,687,98115,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,296737.0,...,1054709.0,1073705.0,1091689.0,1117834.0,1148371.0,1161639.0,1157867.0,1143341.0,1133771.0,1128527.0
750,99563,750,98103,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,266500.0,...,954559.0,969673.0,985031.0,1007598.0,1032528.0,1042555.0,1036319.0,1022109.0,1010394.0,1005050.0
878,99559,878,98092,zip,WA,WA,NaN,"Seattle-Tacoma-Bellevue, WA",King County,218898.0,...,627882.0,639762.0,650698.0,666981.0,684795.0,696192.0,695875.0,689858.0,682704.0,678629.0
927,99527,927,98042,zip,WA,WA,Covington,"Seattle-Tacoma-Bellevue, WA",King County,215556.0,...,643282.0,656106.0,668015.0,685801.0,706160.0,717863.0,716036.0,707234.0,698458.0,694077.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21961,99547,22804,98068,zip,WA,WA,North Bend,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,795332.0,805924.0,813775.0,835826.0,869134.0,874470.0,874432.0,866926.0,884465.0,889544.0
25677,99693,27890,98288,zip,WA,WA,Skykomish,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,428309.0,432772.0,435906.0,448748.0,459173.0,462418.0,459205.0,459781.0,475375.0,494616.0
26471,99532,29586,98050,zip,WA,WA,Issaquah,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,1465500.0,1492775.0,1521664.0,1565006.0,1621115.0,1659585.0,1663795.0,1647745.0,1624889.0,1609275.0
26943,99637,30657,98224,zip,WA,WA,Skykomish,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,466975.0,468791.0,472131.0,484647.0,494032.0,497027.0,493241.0,488650.0,495793.0,506992.0
26981,99605,30657,98164,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,710953.0,715887.0,728022.0,746255.0,766893.0,771426.0,767162.0,759999.0,751821.0,743928.0

In [5]:
id_vars = df.columns[:9]
id_vars

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName'],
      dtype='object')

In [6]:
kc_ts = pd.melt(kc, id_vars=id_vars, value_name="Home Value", var_name="Date" )
kc_ts

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,Date,Home Value
0,99534,222,98052,zip,WA,WA,Redmond,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,306108.0
1,99575,687,98115,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,296737.0
2,99563,750,98103,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,266500.0
3,99559,878,98092,zip,WA,WA,NaN,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,218898.0
4,99527,927,98042,zip,WA,WA,Covington,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,215556.0
...,...,...,...,...,...,...,...,...,...,...,...
22381,99547,22804,98068,zip,WA,WA,North Bend,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,889544.0
22382,99693,27890,98288,zip,WA,WA,Skykomish,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,494616.0
22383,99532,29586,98050,zip,WA,WA,Issaquah,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,1609275.0
22384,99637,30657,98224,zip,WA,WA,Skykomish,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,506992.0
22385,99605,30657,98164,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,743928.0

In [7]:
kc_ts.to_csv('king-county-zipcode-zillow-data.csv', index=False)

In [8]:
pd.read_csv('king-county-zipcode-zillow-data.csv')

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,Date,Home Value
0,99534,222,98052,zip,WA,WA,Redmond,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,306108.0
1,99575,687,98115,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,296737.0
2,99563,750,98103,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,266500.0
3,99559,878,98092,zip,WA,WA,NaN,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,218898.0
4,99527,927,98042,zip,WA,WA,Covington,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,215556.0
...,...,...,...,...,...,...,...,...,...,...,...
22381,99547,22804,98068,zip,WA,WA,North Bend,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,889544.0
22382,99693,27890,98288,zip,WA,WA,Skykomish,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,494616.0
22383,99532,29586,98050,zip,WA,WA,Issaquah,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,1609275.0
22384,99637,30657,98224,zip,WA,WA,Skykomish,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,506992.0
22385,99605,30657,98164,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,743928.0

### Minimal Preprocessing

In [10]:
kc_ts['Date'] = pd.to_datetime(kc_ts["Date"])
kc_ts

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,Date,Home Value
0,99534,222,98052,zip,WA,WA,Redmond,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,306108.0
1,99575,687,98115,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,296737.0
2,99563,750,98103,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,266500.0
3,99559,878,98092,zip,WA,WA,NaN,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,218898.0
4,99527,927,98042,zip,WA,WA,Covington,"Seattle-Tacoma-Bellevue, WA",King County,2000-01-31,215556.0
...,...,...,...,...,...,...,...,...,...,...,...
22381,99547,22804,98068,zip,WA,WA,North Bend,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,889544.0
22382,99693,27890,98288,zip,WA,WA,Skykomish,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,494616.0
22383,99532,29586,98050,zip,WA,WA,Issaquah,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,1609275.0
22384,99637,30657,98224,zip,WA,WA,Skykomish,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,506992.0
22385,99605,30657,98164,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2022-09-30,743928.0

In [13]:
ts = kc_ts.set_index("Date")
ts = ts.groupby('RegionName').resample("M").asfreq()
ts

                       RegionID  SizeRank  RegionName RegionType StateName  \
RegionName Date
98001      2000-01-31     99489      2287       98001        zip        WA
           2000-02-29     99489      2287       98001        zip        WA
           2000-03-31     99489      2287       98001        zip        WA
           2000-04-30     99489      2287       98001        zip        WA
           2000-05-31     99489      2287       98001        zip        WA
...                         ...       ...         ...        ...       ...
98288      2022-05-31     99693     27890       98288        zip        WA
           2022-06-30     99693     27890       98288        zip        WA
           2022-07-31     99693     27890       98288        zip        WA
           2022-08-31     99693     27890       98288        zip        WA
           2022-09-30     99693     27890       98288        zip        WA

                      State       City                        Metro  \
RegionName Date
98001      2000-01-31    WA     Auburn  Seattle-Tacoma-Bellevue, WA
           2000-02-29    WA     Auburn  Seattle-Tacoma-Bellevue, WA
           2000-03-31    WA     Auburn  Seattle-Tacoma-Bellevue, WA
           2000-04-30    WA     Auburn  Seattle-Tacoma-Bellevue, WA
           2000-05-31    WA     Auburn  Seattle-Tacoma-Bellevue, WA
...                     ...        ...                          ...
98288      2022-05-31    WA  Skykomish  Seattle-Tacoma-Bellevue, WA
           2022-06-30    WA  Skykomish  Seattle-Tacoma-Bellevue, WA
           2022-07-31    WA  Skykomish  Seattle-Tacoma-Bellevue, WA
           2022-08-31    WA  Skykomish  Seattle-Tacoma-Bellevue, WA
           2022-09-30    WA  Skykomish  Seattle-Tacoma-Bellevue, WA

                        CountyName  Home Value
RegionName Date
98001      2000-01-31  King County    189228.0
           2000-02-29  King County    190218.0
           2000-03-31  King County    190984.0
           2000-04-30  King County    192422.0
           2000-05-31  King County    194011.0
...                            ...         ...
98288      2022-05-31  King County    462418.0
           2022-06-30  King County    459205.0
           2022-07-31  King County    459781.0
           2022-08-31  King County    475375.0
           2022-09-30  King County    494616.0

[22386 rows x 10 columns]

In [19]:
ts_zips = ts['Home Value'].unstack(0)
ts_zips

RegionName,98001,98002,98003,98004,98005,98006,98007,98008,98010,98011,...,98164,98166,98168,98177,98178,98188,98198,98199,98224,98288
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,189228.0,148650.0,167046.0,480759.0,341546.0,375667.0,229204.0,285812.0,229703.0,258573.0,...,NaN,246856.0,164787.0,320918.0,192336.0,170577.0,175538.0,360223.0,NaN,NaN
2000-02-29,190218.0,149452.0,167933.0,484052.0,343205.0,377668.0,230611.0,287606.0,230624.0,260136.0,...,NaN,247932.0,165833.0,322837.0,193399.0,171434.0,176346.0,363158.0,NaN,NaN
2000-03-31,190984.0,149959.0,168634.0,487180.0,344706.0,379042.0,231734.0,289087.0,231385.0,261178.0,...,NaN,248935.0,166674.0,324588.0,194475.0,172502.0,177244.0,365257.0,NaN,NaN
2000-04-30,192422.0,151072.0,169985.0,492648.0,347601.0,381979.0,233927.0,291887.0,232782.0,263159.0,...,NaN,250398.0,168500.0,328045.0,196197.0,174433.0,178883.0,369471.0,NaN,NaN
2000-05-31,194011.0,152320.0,171280.0,498612.0,350427.0,384957.0,236105.0,294573.0,234481.0,265251.0,...,NaN,252181.0,170512.0,332042.0,198279.0,176512.0,180804.0,373835.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-31,636022.0,509251.0,576436.0,2219693.0,1717312.0,1731176.0,1135368.0,1438400.0,769590.0,1086685.0,...,771426.0,861104.0,604638.0,1172634.0,702490.0,611795.0,611683.0,1356375.0,497027.0,462418.0
2022-06-30,635112.0,506694.0,575616.0,2211510.0,1725863.0,1738586.0,1139916.0,1443112.0,773773.0,1088688.0,...,767162.0,854586.0,602273.0,1161809.0,696785.0,611006.0,610208.0,1349400.0,493241.0,459205.0
2022-07-31,628339.0,499941.0,569816.0,2186941.0,1717924.0,1729463.0,1130157.0,1433226.0,769359.0,1078846.0,...,759999.0,840479.0,596093.0,1144461.0,685530.0,606054.0,604118.0,1330726.0,488650.0,459781.0
2022-08-31,621964.0,494428.0,564443.0,2169791.0,1711226.0,1715810.0,1123128.0,1423338.0,768864.0,1068200.0,...,751821.0,829725.0,590718.0,1132852.0,676587.0,601260.0,598719.0,1318575.0,495793.0,475375.0
2022-09-30,618318.0,490657.0,562309.0,2161766.0,1703683.0,1707860.0,1115954.0,1418214.0,763597.0,1064053.0,...,743928.0,824652.0,587689.0,1130326.0,672593.0,599453.0,596709.0,1317065.0,506992.0,494616.0

In [20]:
ts_zips.to_csv('king-county-zipcodes-as-columns-zillow-data.csv')

In [21]:
pd.read_csv('king-county-zipcodes-as-columns-zillow-data.csv')

,Date,98001,98002,98003,98004,98005,98006,98007,98008,98010,...,98164,98166,98168,98177,98178,98188,98198,98199,98224,98288
0,2000-01-31,189228.0,148650.0,167046.0,480759.0,341546.0,375667.0,229204.0,285812.0,229703.0,...,NaN,246856.0,164787.0,320918.0,192336.0,170577.0,175538.0,360223.0,NaN,NaN
1,2000-02-29,190218.0,149452.0,167933.0,484052.0,343205.0,377668.0,230611.0,287606.0,230624.0,...,NaN,247932.0,165833.0,322837.0,193399.0,171434.0,176346.0,363158.0,NaN,NaN
2,2000-03-31,190984.0,149959.0,168634.0,487180.0,344706.0,379042.0,231734.0,289087.0,231385.0,...,NaN,248935.0,166674.0,324588.0,194475.0,172502.0,177244.0,365257.0,NaN,NaN
3,2000-04-30,192422.0,151072.0,169985.0,492648.0,347601.0,381979.0,233927.0,291887.0,232782.0,...,NaN,250398.0,168500.0,328045.0,196197.0,174433.0,178883.0,369471.0,NaN,NaN
4,2000-05-31,194011.0,152320.0,171280.0,498612.0,350427.0,384957.0,236105.0,294573.0,234481.0,...,NaN,252181.0,170512.0,332042.0,198279.0,176512.0,180804.0,373835.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-05-31,636022.0,509251.0,576436.0,2219693.0,1717312.0,1731176.0,1135368.0,1438400.0,769590.0,...,771426.0,861104.0,604638.0,1172634.0,702490.0,611795.0,611683.0,1356375.0,497027.0,462418.0
269,2022-06-30,635112.0,506694.0,575616.0,2211510.0,1725863.0,1738586.0,1139916.0,1443112.0,773773.0,...,767162.0,854586.0,602273.0,1161809.0,696785.0,611006.0,610208.0,1349400.0,493241.0,459205.0
270,2022-07-31,628339.0,499941.0,569816.0,2186941.0,1717924.0,1729463.0,1130157.0,1433226.0,769359.0,...,759999.0,840479.0,596093.0,1144461.0,685530.0,606054.0,604118.0,1330726.0,488650.0,459781.0
271,2022-08-31,621964.0,494428.0,564443.0,2169791.0,1711226.0,1715810.0,1123128.0,1423338.0,768864.0,...,751821.0,829725.0,590718.0,1132852.0,676587.0,601260.0,598719.0,1318575.0,495793.0,475375.0
272,2022-09-30,618318.0,490657.0,562309.0,2161766.0,1703683.0,1707860.0,1115954.0,1418214.0,763597.0,...,743928.0,824652.0,587689.0,1130326.0,672593.0,599453.0,596709.0,1317065.0,506992.0,494616.0